<section class="content-levatamiento">
    <div class="title_Card_hall">
        <h2>Creación de sala</h2>
    </div>

    <div class="content_expansion">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)" hideToggle class="mat-expansion-panel">
                <mat-expansion-panel-header class="mat-expansion">
                    <mat-panel-title class="mat-panel-title"> Plataforma de Registro</mat-panel-title>
                    <mat-panel-description class="mat-panel-description">
                        <mat-icon class="icon">account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form [formGroup]="formRegister" class="content-form">
                    <mat-form-field class="input">
                        <mat-label>Nombre completo</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error>
                            @if
                            (formRegister.get('name')?.hasError('required'))
                            {
                            <ng-container> *Campo requerido </ng-container>} @if
                            (formRegister.get('name')?.hasError('pattern'))
                            { <ng-container> *Campo invalido </ng-container>}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="input">
                        <mat-label>N.identificación</mat-label>
                        <input matInput formControlName="document" type="number" class="example-right-align" />
                        <mat-error>
                            @if
                            (formRegister.get('document')?.hasError('required'))
                            {
                            <ng-container> *Campo requerido </ng-container>} @if
                            (formRegister.get('document')?.hasError('pattern'))
                            { <ng-container> *Campo invalido </ng-container>}
                        </mat-error>
                    </mat-form-field>
                </form>


                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step() === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header class="mat-expansion">
                    <mat-panel-title class="mat-panel-title"> Plataforma Movile (jueces)</mat-panel-title>
                    <mat-panel-description class="mat-panel-description">
                        <mat-icon class="icon">mobile_friendly</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="content-stepper">
                    <app-stepper [stepValue]="stepperData" (stepsExportValue)="steppExportData($event)"
                        [actionStepper]="eventStep"></app-stepper>
                </div>


                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step() === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header class="mat-expansion">
                    <mat-panel-title class="mat-panel-title">Plataforma Cronometro</mat-panel-title>
                    <mat-panel-description class="mat-panel-description">
                        <mat-icon class="icon">alarm</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]="formCronometro" class="content-form">
                    <mat-form-field class="input">
                        <mat-label>Nombre completo</mat-label>
                        <input matInput formControlName="name" />
                        <mat-error>
                            @if
                            (formCronometro.get('name')?.hasError('required'))
                            {
                            <ng-container> *Campo requerido </ng-container>} @if
                            (formCronometro.get('name')?.hasError('pattern'))
                            { <ng-container> *Campo invalido </ng-container>}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="input">
                        <mat-label>N.identificación</mat-label>
                        <input matInput formControlName="document" type="number" class="example-right-align" />
                        <mat-error>
                            @if
                            (formCronometro.get('document')?.hasError('required'))
                            {
                            <ng-container> *Campo requerido </ng-container>} @if
                            (formCronometro.get('document')?.hasError('pattern'))
                            { <ng-container> *Campo invalido </ng-container>}
                        </mat-error>
                    </mat-form-field>
                </form>

                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
    <button mat-stroked-button class="button-create" (click)="sentEventSteper('submit')">Crear sala</button>
</section>