<section class="marcador">
  <div class="container-marcador">
    <div class="cabezera-grid-container">
      <div class="grid-item1">
        <div class="parte-superior">2</div>
        <div class="parte-inferior small-text">ATT.</div>
      </div>
      <div class="grid-item2">
        <div class="parte parte1">1</div>
        <div class="parte">2</div>
        <div class="parte parte3">3</div>
      </div>
      <div class="grid-item3">
        <div class="parte-superior">166</div>
        <div class="parte-inferior small-text">Kg</div>
      </div>
    </div>

    <div class="informacion">
      <div class="text">
        <h1 class="nombre">MEZA GOMEZ</h1>
        <h2 class="nombre2">Alberto Jose</h2>
      </div>
    </div>

    <div class="tercera-parte">
      <div class="tercera-parte__grid">
        <div class="nombre-pais">{{ generalPais(informacion.IwfCoiCode) }}</div>
        <div class="bandera">
          <span [class]="'flag flag-' + informacion.IwfCoiCode"></span>
        </div>
        <div class="numero-jugador">6</div>
      </div>
    </div>
  </div>
</section>
