<section class="marcador">
    <div class="container-marcador">
        <div class="cabezera-grid-container">
            <div class="grid-item1">
                <div class="parte-superior">2</div>
                <div class="parte-inferior small-text">ATT.</div>
            </div>
            <div class="grid-item2">
                <div class="parte parte1">1</div>
                <div class="parte">2</div>
                <div class="parte parte3">3</div> 
            </div>
            <div class="grid-item3">
                <div class="parte-superior">166</div>
                <div class="parte-inferior small-text">Kg</div>
            </div>
           
          </div>

          <div class=" informacion">

            <div class="text">
              <h1 class="nombre">MEZA GOMEZ</h1>
              <h2 class="nombre2"> Alberto Jose</h2>
            </div>

          </div>

          <div class="tercera-parte">
            <div class="tercera-parte__grid">
              <div class="nombre-pais"> MEX</div>
              <div class="bandera"></div>
              <div class="numero-jugador"> 6 </div>
            </div>
          </div>
        
          <!-- Segunda parte noton iniciar y aumentar tiempo-->
           <div class="Botones"> 
            <hr class="Linea-amarilla">
            
            <div class="grid-container">
                <div class="grid-item">
                    <button class="boton-iniciar">INICIAR</button>
                </div>
                <div class="grid-item">
                    <button class="boton-aumentartiempo">AUMENTAR TIEMPO</button>
                </div>

            </div>
           <!-- Botones pequeños-->

            <div class="grid-container-control">
                <div class="grid-item__btn">
                    <button class="boton">Botón 1</button>
                </div>
                <div class="grid-item__btn">
                    <button class="boton">Botón 2</button>
                </div>
                <div class="grid-item__btn">
                    <button class="boton">Botón 3</button>
                </div>
                <div class="grid-item__btn">
                    <button class="boton">Botón 4</button>
                </div>
                <div class="grid-item__btn">
                    <button class="boton">Botón 5</button>
                </div>
                <div class="grid-item__btn">
                    <button class="boton">Botón 6</button>
                </div>
            </div>


          </div>
        </div>

</section>

