<!-- <section class="athlete-section">
  <div class="scoreboard">
      <div class="scoreboard__time">{{ 'formattedTime()' }}</div>
  </div>
  <div class="header-grid-container">
      <div class="header-grid-item">
          <div class="header-grid-item__top">2</div>
          <div class="header-grid-item__bottom">ATT.</div>
      </div>
      <div class="athlete-info">
          <div class="athlete-info__text">
              <h1 class="athlete-info__last-name">{{ 'MEZA GOMEZ' }}</h1>
              <h2 class="athlete-info__first-name">{{ 'Alberto Jose' }}</h2>
          </div>
      </div>
      <div class="header-grid-item">
          <div class="header-grid-item__top">166</div>
          <div class="header-grid-item__bottom">Kg</div>
      </div>
  </div>
  <div class="details-section">
      <div class="details-grid">
          <div class="details-grid__country-name">{{ 'MEX' }}</div>
          <div class="details-grid__flag">
              <span [class]="'flag flag-' + 'mx'"></span>
          </div>
          <div class="details-grid__player-number">{{ '15' }}</div>
      </div>
  </div>
</section> -->

<app-board
class="scoreboard-board"
[Athlete]="dataAthlete"
[formattedTime]="formattedTime"
></app-board>