<section class="marcador">
  <div class="container-marcador" style="overflow-y: auto;">
    <div class="marcador">
      <div class="tiempo">{{formattedTime}}</div>
    </div>
    <div class="cabezera-grid-container">
      <div class="grid-item1">
        <div class="parte-superior">2</div>
        <div class="parte-inferior small-text">ATT.</div>
      </div>

      <div class="informacion">
        <div class="text">
          <h1 class="nombre">MEZA GOMEZ</h1>
          <h2 class="nombre2">{{ informacion.Name }}</h2>
        </div>
      </div>
      <div class="grid-item3">
        <div class="parte-superior">166</div>
        <div class="parte-inferior small-text">Kg</div>
      </div>
    </div>

    <div class="tercera-parte">
      <div class="tercera-parte__grid">
        <div class="nombre-pais">{{ generalPais(informacion.IwfCoiCode) }}</div>
        <div class="bandera">
          <span [class]="'flag flag-' + informacion.IwfCoiCode"></span>
        </div>
        <div class="numero-jugador">{{ informacion.Numero_Sorteo }}</div>
      </div>
    </div>

    <!-- Segunda parte noton iniciar y aumentar tiempo-->
    <div class="Botones">
      <hr class="Linea-amarilla" />

      <div class="grid-container">
        <div class="grid-item">
          <button
            class="boton-iniciar"
            (click)="sentCronometro('start', '003')"
          >
            <strong>INICIAR </strong>
          </button>
        </div>
        <div class="grid-item">
          <button class="boton-aumentartiempo" (click)="sentCronometro('increase time', '003')">
            <strong>AUMENTAR TIEMPO </strong>
          </button>
        </div>
      </div>
      <!-- Botones pequeños-->

      <div class="grid-container-control">
        <div class="grid-item__btn">
          <button class="boton" (click)="sentCronometro('pause', '003')">
            <img src="../../../assets/img/Pause.webp"  class="Imagen-action" alt="Pause"/>
          </button>
        </div>
        <div class="grid-item__btn">
          <button class="boton" (click)="sentCronometro('stop', '003')">
            <img src="../../../assets/img/Pause2.webp" class="Imagen-action" alt="Stop" />
          </button>
        </div>
        <div class="grid-item__btn">
          <button class="boton" (click)="sentCronometro('return', '003')">
            <img src="../../../assets/img/Repeticion.webp" class="Imagen-action" alt="Return"/>
          </button>
        </div>
        <div class="grid-item__btn">
          <button class="boton" (click)="sentCronometro('force', '003')">
            <img src="../../../assets/img/Levantamiento.webp" class="Imagen-action" alt="Force" />
          </button>
        </div>
        <div class="grid-item__btn">
          <button class="boton" (click)="sentCronometro('weight', '003')">
            <img src="../../../assets/img/Mancuernas.webp"  class="Imagen-action" alt="weight"/>
          </button>
        </div>
        <div class="grid-item__btn">
          <button class="boton"></button>
        </div>
      </div>
    </div>
  </div>
</section>
