@use "@assets/colors.scss" as *;

.buttons {
  .yellow-line {
    border: none;
    border-top: 10px solid $color-yellow;
    margin: 20px auto;
    width: 80%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: clamp(10px, 4vw, 25px);
    height: clamp(50px, 5vw, 70px);

    .grid-item {
      .start-button,
      .increase-time-button {
        width: 100%;
        height: 100%;
        border: none;
        color: $color-white;
        background-color: $color-black;
        cursor: pointer;
        font-size: clamp(30px, 2.5vw, 100px);
        border-radius: 19.4625px;
      }
    }
  }

  .grid-container-control {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1%;
    width: 80%;
    margin: 0 auto;
    height: clamp(50px, 6vw, 80px);

    .grid-item__btn {
      display: flex;
      justify-content: center;
      align-items: center;

      .control-button {
        width: 100%;
        height: 100%;
        border: none;
        color: $color-white;
        cursor: pointer;
        background-color: $color-black;
        border-radius: 19.4625px;

        .material-symbols-outlined {
          font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
          font-size: 60px;
        }

        .action-image {
          height: 60px;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .grid-item {
    .start-button,
    .increase-time-button {
      width: 100%;
      height: 100%;
      border: none;
      color: $color-black !important;
      background-color: $color-white !important;
      cursor: pointer;
      font-size: clamp(30px, 2.5vw, 100px);
      border-radius: 19.4625px;
    }
  }
  .grid-container-control {
    .grid-item__btn {
      .control-button {
        color: $color-black !important;
        background-color: $color-white !important;
      }
    }
  }
}
