$color-white:#ffffff;
$color-black:#000000;
$color-yellow:#FFB900;
$color-button-correct: #24ff00;
$color-button-correct-gradien:linear-gradient(180deg, #00e70a 0%, #008105 100%);
$color-button-correct-gradien-inter:linear-gradient(304.24deg, #24ff00 2.02%, #159900 84.83%);
$color-button-Incorrect-gradien:linear-gradient(180deg, #db0000 0%, #750000 100%);
$color-button-Incorrect-gradien-inter:linear-gradient(307.86deg, #ec0000 2.18%, #990000 77.19%);
$color-button-Incorrect: #ff2727;
$color-azul-title:#0c4cc8;