.content-card {
  height: 100vh;
  width: 100%;
  display: flex;
  .example-card {
    max-width: 400px;
    margin: auto;

    .form{
        .form-field{
            width: 100%;
        }
    }
  }
}

.example-header-image {
  background-image: url("@assets/img/Levantamiento.webp");
  background-size: cover;
}
