@use "@assets/colors.scss" as *;

.athlete-section {
  margin: 0 8.5%;
  .scoreboard {
    .scoreboard__time {
      font-weight: 500;
      font-size: 12vw;
      text-align: center;
      color: #9a0525;
      // line-height: 130px;
    }
  }
  .header-grid-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;

    .header-grid-item {
      font-weight: 600;
      font-size: 4.5vw;
      text-align: center;
      color: #9a0525;
      .header-grid-item__bottom {
        font-size: 0.54em;
      }
    }

    .Arbitrator-info {
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 30px;
      -webkit-box-shadow: 0px 0px 14px -1px rgb(66, 68, 90);
      -moz-box-shadow: 0px 0px 14px -1px rgb(66, 68, 90);
      box-shadow: 0px 0px 7px -1px rgb(66, 68, 90);
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 4.5vw;
      .Arbitrator-info__text {
        width: 33.3%;
        height: 100%;
        outline: 1px solid #cacaca;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }

      .ArbitratorThird {
        border-radius: 0px 30px 30px 0px;
      }
     
      .ArbitratorFirst {
        border-radius: 30px 0px 0px 30px;
      }
    }
  }
  .athlete-info {
    .athlete-info__text {
      font-weight: 700;
      font-size: 3.65vw;

      text-align: center;
      color: $color-yellow;

      .athlete-info__first-name {
        font-weight: 600;
        font-size: 4vw;
      }
    }
  }
  .details-section {
    position: relative;
    .details-grid {
      display: flex;
      width: 100%;

      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      .details-grid__country-name,
      .details-grid__player-number {
        font-size: clamp(70px, 5.5vw, 100px);
        color: $color-black;
        font-weight: 600;
        line-height: 100px;
        text-align: center;
        width: 9%;
      }

      .details-grid__flag {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;

        span {
          width: 200px;
          height: 100px;
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .details-section {
    .details-grid {
      .details-grid__country-name,
      .details-grid__player-number {
        color: $color-white !important;
      }
    }
  }
}
