@use "@assets/colors.scss" as *;

.athlete-section {
  margin: 0 8.5%;
  .scoreboard {
    .scoreboard__time {
      font-weight: 500;
      font-size: 12vw;
      text-align: center;
      color: #9a0525;
      // line-height: 130px;
    }
  }
  .header-grid-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;

    .header-grid-item {
      font-weight: 600;
      font-size: 4.5vw;
      text-align: center;
      color: #9a0525;
      .header-grid-item__bottom {
        font-size: 0.54em;
      }
    }

    .athlete-info {
      .athlete-info__text {
        font-weight: 700;
        font-size: 3.65vw;

        text-align: center;
        color: $color-yellow;

        .athlete-info__first-name {
          font-weight: 600;
          font-size: 4vw;
        }
      }
    }
  }

  .details-section {
    position: relative;
    .details-grid {
      display: flex;
      width: 100%;

      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      .details-grid__country-name,
      .details-grid__player-number {
        font-size: clamp(70px, 5.5vw, 100px);
        color: $color-white;
        font-weight: 600;
        line-height: 100px;
        text-align: center;
        width: 9%;
      }

      .details-grid__flag {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;

        span {
          width: 200px;
          height: 100px;
        }
      }
    }
  }
}
